 <!-- Footer Scripts -->
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery-json/2.5.1/jquery.json.min.js"></script>
    <!-- Material Design -->
    <script src="http://cdn.bootcss.com/bootstrap-material-design/0.3.0/js/material.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>
    <!-- Socket IO -->
    <script type="text/javascript" src="/javascripts/bmobSocketIO.js"></script>
    <script type="text/javascript"  src="http://static.bmob.cn/bmob-min.js"></script>
    <script type="text/javascript" src="/javascripts/ejs.min.js"></script>
    <script src="/javascripts/chat.js"></script>
    <script type="text/javascript">
        //  init material bootstrap
        $.material.init();
    </script>
  </body>
</html>