<% include header.ejs %>

<div class="jumbotron">
    <div class="container">
        <h1>Welcome <% user.username %> Login!</h1>
        <a href="/logout" class="btn btn-primary btn-lg">Logout</a>
    </div>
</div>

<div class="container">
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">Patient 1</a></li>
        <li role="presentation" ><a href="#">Patient 1</a></li>
        <li role="presentation" ><a href="#">Patient 1</a></li>
    </ul>
</div>

<!-- Chat Div -->
<div id="data"></div>

<script type="text/javascript" src="javascripts/bmobSocketIO.js"></script>
<script type="text/javascript">
     /* Init BmobSocketIO */
     BmobSocketIo.initialize("e9978deb922a3ee549d8ca3266edff09");
   //初始连接socket.io服务器后，需要监听的事件都写在这个函数内
    BmobSocketIo.onInitListen = function() {
      //订阅GameScore表的数据更新事件
      BmobSocketIo.updateTable("Chat");     
    };

      //监听服务器返回的更新表的数据
   BmobSocketIo.onUpdateTable = function(tablename,data) {   
     if( tablename=="Chat" ) {
        var content=$("#data");
        var p = '<p><span style="color:red;">' + data.name+'</span>  '+'<span style="color:green;">'+ data.createdAt+'</span>  '+ ' :<br/> '+data.content+'</p><br/><br/>';
        content.html(content.html()+p);
     }
   };
</script>

<% include footer.ejs %>