{{#contentFor 'pageStyles'}}
  <link rel="stylesheet" href="/stylesheets/index.css">
{{/contentFor}}


{{#contentFor 'pageScripts'}}
<script>
  $(function() {
    $('.clicker').click(function() {
      $(this).text('Hello express-hbs!');
    });
  });
</script>
{{/contentFor}}
{{!-- Content --}}
{{!-- Nav --}}
<nav class="light-blue" role="navigation">
  <h4  id="title">HTML 5</h4>
  <ul id="nav-ul-right">
    <li >Menu1</li>
    <li>Menu1</li>
    <li>Menu1</li>
    <li>Menu1</li>
  </ul>
</nav>
{{!-- Main --}}
<div class="table-container">
  <div class="table-row">
      <section class="main-wrapper">
        {{!-- Container for tags --}}
        <div class="chat-person-wrapper">
          <ul>
            <li>Abc</li>
            <li>Abc</li>
            <li>Abc</li>
            <li>Abc</li>
          </ul>
        </div>
        <div class="chat-window-wrapper"></div>
     </section>
      <aside class="contact-wrapper">
        <ul>
          <li>
            <img src="/images/yuna.jpg" alt="" class="user-head-img">
            <span class="user-name">Contact one</span>
          </li>
          <li>
            <img src="/images/yuna.jpg" alt="" class="user-head-img">
            <span class="user-name">Contact one</span>
          </li>
          <li>
            <img src="/images/yuna.jpg" alt="" class="user-head-img">
            <span class="user-name">Contact one</span>
          </li>
          <li>
            <img src="/images/yuna.jpg" alt="" class="user-head-img">
            <span class="user-name">Contact one</span>
          </li>
        </ul>
    </aside>
  </div>
</div>
{{!-- Main Over --}}

{{!-- Content over --}}




