<% include header.ejs %>

<div class="well jumbotron">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="data"></div>
    <p><a href="/login" class="btn btn-primary btn-lg" role="button">Login In Now!</a></p>
</div>
<% include footer.ejs %>
