<% include header_unclose.ejs %>
<link rel="stylesheet" href="/stylesheets/test.css">
  </head>
  <body>
 <!-- Nav -->
 <header>
     <h1>Header</h1>
 </header>
<div id="table">
  <div id="tableRow">
     <section id="drinks">
        Drinks Drinks Drinks Drinks Drinks Drinks Drinks Drinks Drinks Drinks 
        <br>
        ks Drinks Drinks Drinks 
        <!-- Test Float -->
        <div class="news">
            <img src="https://www.baidu.com/img/270Gif_75f179cfd23e0afe31365b7e1697a749.gif" alt="">
            <p>News News  News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News News </p>
            <div style="clear: both"></div>
        </div>
        <form action="" method="post">
            <input type="date">
        </form>

    </section>
    <section id="main">
        main mainmainmainmainmain mainmainmainmainmain
        <table>
            <caption>
                Caption Title
            </caption>
            <tr>
                <th>H1</th>
                <th>H2</th>
                <th>H3</th>
                <th>H4</th>
            </tr>
            <tr>
                <td>2223333</td>
                <td>2223333</td>
                <td>2223333</td>
                <td>2223333</td>
            </tr>
            <tr>
                <td>2223333</td>
                <td>2223333</td>
                <td>2223333</td>
                <td>2223333</td>
            </tr>
            <tr>
                <td>2223333</td>
                <td>2223333</td>
                <td>2223333</td>
                <td>2223333</td>
            </tr>
            <tr>
                <td>2223333</td>
                <td>2223333</td>
                <td>2223333</td>
                <td>2223333</td>
            </tr>
        </table>
    </section>
    <aside>
     Aside
    </aside>
  </div>
</div>
 <footer >
     Footer
 </footer>
<% include footer.ejs %>