{{!--Title--}}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <table class="table">
                <tr>
                    <td>患者姓名</td>
                    <td>患者姓名</td>
                </tr>
                <tr>
                    <td>患者姓名</td>
                    <td>患者姓名</td>
                </tr>
                <tr>
                    <td>患者姓名</td>
                    <td>患者姓名</td>
                </tr>
                <tr>
                    <td>患者姓名</td>
                    <td>患者姓名</td>
                </tr>
            </table>
        </div>
    </div>
</div>

