{{#contentFor 'pageScripts'}}
    <script src="/javascripts/weixin/weixin.js"></script>
{{/contentFor}}

<p id="back">{{message}}</p>

<div>
    <input type="text" id="message" class="input-field"/>
    <button class="btn btn-primary" id="btn-send">Send</button>
</div>