.content-reply-box li {
    margin-top: 18px;
    margin-bottom: 18px;
}

.content-reply-box li.odd {
    clear: left;
}

.content-reply-box li.even {
    clear: right;
}

.content-reply-box li.odd .user{
    float: left;
    margin-right: 10px;
}

.content-reply-box li.even .user{
    float: right;
    margin-left: 10px;
}

.content-reply-box li.odd .reply-content-box{
    margin-left: 60px;
}

.content-reply-box li.even .reply-content-box{
    margin-right: 60px;
}

.reply-time{
    color: #e1812d;
    font-size: .85em;
    display: inline-block;
    width: 100%
}

.content-reply-box li.odd .reply-time{
    text-align: left;
}

.content-reply-box li.even .reply-time{
    text-align: right;
}

.content-reply-box li.odd .arrow{
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    border-color: transparent #fff transparent transparent;
    border-width: 6px;
    border-style: dashed solid dashed dashed;
    display: block;
    position: absolute;
    top: 8px;
    left: -12px;
    z-index: 999;
}

.content-reply-box li.even .arrow{
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    border-color: transparent transparent transparent #fff ;
    border-width: 6px;
    border-style: dashed dashed dashed solid;
    display: block;
    position: absolute;
    top: 8px;
    right: -12px;
    z-index: 999;
}

.reply-content{
    border: 1px solid #fcfcfc;
    padding: .6em;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 0 5px #ccc;
}

.pr{
    position: relative;
}

.avatar_{
    width: 48px;
    height: 48px;
}

