.contact-wrapper ul li {
    width: 100%;
    vertical-align: middle;
    background-color: #ffffff;
    border-radius: 1px;
    border-color: #ccc;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    display: table;
    cursor: pointer;
}

.contact-wrapper ul li:first-child {
    border-width: 1px;
}

.contact-wrapper ul li:hover {
    background-color: #dcdcdc;
}

.user-head-img {
    margin: 8px 8px 8px 16px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

ul.contact-list span.contact-name {
    vertical-align: middle;
    display: table-cell;
    cursor: pointer;
    font-size: 18px;
}

/*Chat*/
.chat-wrapper {
    padding-bottom: 24px;
}

.chat-frame {
    height: 470px;
    padding-right: 24px;
    overflow-y: scroll;
    background-color: #f0f0f0;
    border-radius: 16px;
    border: solid 1px rgba(0,0,0,0.1);
}

/*Info well*/
.well {
    height: 550px;
}

.input-wrapper * {
    margin-top: 12px;
    height: 56px;
    vertical-align: middle;
}

/* Appointment */

#appointment {
    background-color: #fff;
}

#table-appointment {
    text-align: center;
    margin-top: 24px;
}

.appointment-row {
    cursor: pointer;
}


/* 模态框表格 实际项目中需要进行文件分割 */

.table-label {
    background-color: rgba(128,128,128, 0.1);
}

.table-status {
    font-weight: bold;
}

/* 表单的分类nav */
.appointment-nav {
    margin-bottom: 12px;
}

.appointment-nav ul li {
    margin-right: 16px;
}

.appointment-nav ul li a {
    padding-top: 8px;
    padding-bottom: 8px;
}


/* 聊天的多功能组件 */
#chat-tools{
    margin-top: 16px;
}

#chat-tools button {
    margin-right: 12px;
}

#chat-tools button span {
    margin-right: 8px;
}