.contact-wrapper ul li {
    width: 100%;
    vertical-align: middle;
    background-color: #f0f0f0;
    border-radius: 1px;
    border-color: #ccc;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    display: table;
    cursor: pointer;
}

.contact-wrapper ul li:first-child {
    border-width: 1px;
}

.contact-wrapper ul li:hover {
    background-color: #e2e2e2;
}

.user-head-img {
    margin: 8px 8px 8px 16px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

ul.contact-list span.contact-name {
    vertical-align: middle;
    display: table-cell;
    cursor: pointer;
    font-size: 18px;
}

/*Chat*/
.chat-wrapper {
    margin-top: 32px;
}

#chat-display {
    height: 470px;
    overflow-y: scroll;
    background-color: #f0f0f0;
    border-radius: 16px;
}

/*Info well*/
.well {
    height: 550px;
}

.input-wrapper * {
    margin-top: 12px;
    height: 56px;
    vertical-align: middle;
}
