<li class="even">
    <a href="#" class="user">
        <img src="/images/avatar-1.png" class="img-responsive avatar_">
        <span class="user-name">Patient</span>
     </a>
    <div class="reply-content-box">
        <span class="reply-time">05-28 15:54</span>
        <div class="reply-content pr">
            <span class="arrow">&nbsp;</span>
             <%=send %>
        </div>
     </div>
</li>